VITE_POLL_BLUEPRINT_ID=00d93010e8b5133a9c5ced7b57b3feea3d1b8aac9b514429bb1b23204bcd8f11
VITE_POLL_CONTRACT_ID=
VITE_POLL_CREATION_FEE=0
# Proxied via Vite to Hathor testnet
VITE_HATHOR_NODE_URL=/api/
VITE_HATHOR_CHAIN=testnet
VITE_WALLETCONNECT_PROJECT_ID=
VITE_WALLETCONNECT_RELAY=wss://relay.reown.com
